body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(130, 194, 130);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px; 
}
.container{
    display:flex;
    flex-direction: column;
    background:white;
    border-radius: 10px;
    height: 200px;
    margin-top: 80px;
}
.item1{
    height: 200px;
}
.item2{
     border-radius: 10px;
     background:white;
     padding-bottom: 30px;
}
h3 { 
    border-radius:25px;
    display:inline;
    background-color: pink;
    color: rgb(187, 54, 74);
    /* font-size:; */ /*폰트두께*/
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
input{
    color:green;
    outline-color: green;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin:50
}
input:focus{
    color:green;
    outline-color: green;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
#addButton{
    position:relative;
    top: 10px;
    left: 3px;
}
#newTODO button{
    border-radius:10px;
    background-color:rgb(114, 177, 133);
    color: rgb(11, 119, 29);
    outline-color: green;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#TODOs{
    padding-top: 20px;
    color: rgb(255, 12, 12);
}